alembic
aniso8601
asttokens
backcall
blinker
certifi
charset-normalizer
click
decorator
executing
Faker
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
importlib-resources
ipdb
ipython
itsdangerous
jedi
Jinja2
Mako
MarkupSafe
matplotlib-inline
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
Pygments
PyJWT
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
SQLAlchemy-serializer
stack-data
toml
traitlets
typing_extensions
urllib3
validate-email-address
wcwidth
Werkzeug
zipp
